{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block title %}{{ super() }} - Configuration{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Configuration</h1>
    <p>
        Before running EnTAP you can set input parameters and data sets that EnTAP needs to run. <a data-bs-toggle="collapse" href="#learnMore" role="button" aria-expanded="false" aria-controls="learnMore">Learn more.</a>
    </p>
    <div class="collapse" id="learnMore">
        <div class="card card-body">
            <p>Configuration is divided into three sections, all available through the Configuration menu above.  On this page you can specify parameter settings for EnTAP and its processes. Click the 'Configuration' > 'Databases' menu item to provide a list of protein FASTA files (databases) to which you want to use for comparison. Click the 'Configuration' > 'Uninformatives' menu item to specify functional phrases to avoid. See the EnTAP documentation for detailed information about these settings.</p>
        </div>
    </div>
    {{ wtf.quick_form(form,url_for('ConfigView:update')) }}
</div>
{% endblock %}
