{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block title %}{{ super() }} - Configuration{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Configuration</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut fringilla odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras bibendum magna et metus finibus suscipit. In risus turpis, ultricies sed ligula vel, dapibus convallis risus. Aliquam quis blandit mauris. Quisque varius est et erat aliquet consequat. Vestibulum egestas risus eu facilisis laoreet. Sed pharetra justo nec velit fringilla vulputate. Vivamus eu imperdiet nunc, eget pharetra neque. Nam consequat massa id eros porttitor, ut varius purus sollicitudin. Ut sem ligula, maximus ut congue sit amet, bibendum ac diam. Quisque sed lacus non massa efficitur luctus ac quis odio. Duis vitae felis convallis, gravida ex id, pretium neque.</p>
    {{ wtf.quick_form(form,url_for('ConfigView:update')) }}
</div>
{% endblock %}
