{% extends "base.html" %}

{% block meta %}
{% if taskManager.isRunning() %}
    <meta http-equiv="refresh" content="2">
{% endif %}
{% endblock %}

{% block title %}{{ super() }} - Status{% endblock %}

{% block content %}
<div class="container">
    {% if taskManager.isIdle() %}
        <h1 class="mt-4">Idle</h1>
    {% else %}
        {% with output = taskManager.output() %}
            {% if taskManager.isRunning() %}
                <h1 class="mt-4">Running</h1>
            {% elif taskManager.isFinished() %}
                <h1 class="mt-4">Finished</h1>
            {% elif taskManager.hasError() %}
                <h1 class="mt-4">Error</h1>
            {% endif %}
            <h2 class="mt-4">{{ output[0] }}</h2>
            {% if taskManager.isRunning() %}
                <div class="alert alert-info">
            {% elif taskManager.isFinished() %}
                <div class="alert alert-success">
            {% elif taskManager.hasError() %}
                <div class="alert alert-danger">
            {% endif %}
            {{ output[1].replace("\n","<br/>")|safe }}
            </div>
        {% endwith %}
    {% endif %}
</div>
{% endblock %}
