{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block title %}{{ super() }} - Run{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Run</h1>
    <div class="card card-body bg-light mt-3">
        <label>List of Enabled Databases</label>
        <table class="table table-striped mt-3">
        {% for name in databases %}
            <td>{{ name }}</td>
        {% endfor %}
        </table>
    </div>
    {{ wtf.quick_form(form,url_for('RunView:start')) }}
</div>
{% endblock %}
