{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block title %}{{ super() }} - Uninformatives{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Uninformatives</h1>
    <table class="table table-striped">
    <thead>
        <tr>
            <th style="width:5em;"></th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for uninform in uninforms %}
            <tr>
                <td style="width:5em;"><a class="btn btn-danger btn-sm" href="{{ url_for('UninformsView:remove',name=uninform) }}">Remove</a></td>
                <td>{{ uninform }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {{ wtf.quick_form(form,url_for('UninformsView:add')) }}
</div>
{% endblock %}
