{% macro quick_form(form,url="") %}
    <form action="{{ url }}" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form %}
        <div class="mt-3">
            {% if field.type == "SubmitField" %}
                {{ field(class_='btn btn-primary') }}
            {% elif field.type == "BooleanField" %}
                {{ field(class_='form-check-input') }}
                <label for="{{ field.id }}" class="form-label">{{ field.label.text }}</label>
            {% elif field.type != "CSRFTokenField" %}
                <label for="{{ field.id }}" class="form-label">{{ field.label.text }}</label>
                {{ field(class_='form-control') }}
            {% endif %}
            <div class="form-text">{{ field.description }}</div>
        </div>
    {% endfor %}
    </form>
{% endmacro %}
