{% if stage == "init" %}
    <p>Initializing...</p>
{% elif stage == "running" %}
    <p><b>Running...</b></p>
    {% if frameSelect %}
        <p>Frame Selection Enabled.</p>
    {% endif %}
    <p>{{ output.replace('<','&lt;').replace('\n','<br/>')|safe }}</p>
{% elif stage == "success" %}
    <p>Success. Refer to the <a href="">results page</a> for results or the <a herf="">logs page</a> for detailed output of this and all other runs.</p>
{% elif stage == "failed" %}
    <p>Failure. Refer to the <a href="{{ url_for('LogsView:index') }}">logs page</a> for detailed output of this and all other runs.</p>
{% else %}
    <p>Unknown.</p>
{% endif %}
